.icon {
  width: 25px;
  height: 25px;
  fill: var(--tag-gray);
  &--small {
    height: 15px !important;
    width: 15px !important;
  }
}

.button-icon {
  min-width: 57px;
  height: 57px;
  &--small {
    height: 25px !important;
    min-width: 0px;
  }
  &--medium {
    min-width: 70px;
    height: 27px;
    font-size: small;
  }
}
.button-bg {
  background-color: transparent;
  &--circle {
    background-color: var(--green);
    border-radius: 50%;
    color: white;
    svg {
      fill: white;
    }
  }
  &--rectangle {
    border-radius: 10px;
    color: white;
    background-color: var(--green);
  }
}
button {
  border: none;
  //color: white;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  &-btn-rectangle {
    background-color: var(--green);
    padding: 10px 20px;
    border-radius: 8px;
  }
  &-btn-circle {
    background-color: var(--green);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
  }
  &.btn-default {
    background-color: transparent;
    padding: 5px 10px;
    //border: 1px solid lightgray;
    color: black;
  }
}
