<button
  class="button-icon button-bg"
  (click)="clickBtn.emit($event)"
  [class.button-icon--small]="size === typeButtonSize.SMALL"
  [class.button-icon--medium]="size === typeButtonSize.MEDIUM"
  [class.button-bg--circle]="type === typeButton.FILL_ROUND"
  [class.button-bg--rectangle]="type === typeButton.RECTANGLE"
>
  {{ label }}
  <span
    *ngIf="badge"
    style="
      background-color: var(--badged-bg);

      padding: 10px;
      height: 1.1rem;
      display: flex;
      width: 1.1rem;
      justify-content: center;
      align-items: center;
      position: absolute;
      border-radius: 20px;
      top: -20px;
      right: 0px;
    "
    >{{ badgeNumber }}</span
  >

  <svg
    *ngIf="icon"
    class="icon"
    [class.icon--small]="size === typeButtonSize.SMALL"
  >
    <use [attr.xlink:href]="'assets/svg/icons-app.svg#' + icon" />
  </svg>
</button>
