<button
  (click)="clickBtn.emit($event)"
  [ngClass]="getButtonClass()"
  [ngClass]="getButtonSizeClass()"
>
  {{ label }}
  <span
    *ngIf="badge"
    style="
      background-color: var(--green);
      color: white;
      padding: 10px;
      height: 1.1rem;
      display: flex;
      width: 1.1rem;
      justify-content: center;
      align-items: center;
      position: absolute;
      border-radius: 20px;
      top: -20px;
      right: 0px;
    "
    >{{ badgeNumber }}</span
  >

  <svg
    style="width: 15px; height: 15px; fill: var(--tag-gray)"
    *ngIf="icon"
    class="icon"
  >
    <use [attr.xlink:href]="'assets/svg/icons-app.svg#' + icon" />
  </svg>
</button>
