:host {
  display: flex;

  background-color: var(--bg-card);
  margin: 10px;
  border-left: 4px solid var(--green);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  padding: 16px;
  align-items: center;
}
.card-content {
  margin-left: 20px;
  flex: 1;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
}
