:root {
  --green: #0cbd36;
  --bg-card: #1a1c1f;
  --tag-red: #eb4d4f;
  --tag-gray: #7c8995;
  --secondary-bg: #212326;
  --primary-bg: #000001;
  --checkbox-bg: #4f5054;
  --scroll-bg: 22, 29, 49;
  --scroll-thumb: 155, 156, 158;
}
