<app-search></app-search>

<div
  style="
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    width: 100%;
    background-color: var(--secondary-bg);
    width: 700px;
    padding: 2rem;
  "
>
  <ng-container *ngFor="let item of items$ | async">
    <app-card
      [data]="item"
      [tagCode]="item.status === '1' ? 'tag-red' : 'tag-gray'"
      [label]="item.update_date ? 'Updated' : 'Created'"
      [valueCodeDate]="item.update_date ? 'update_date' : 'creation_date'"
      [control]="formTecnologies.controls.selected"
      [tagValue]="searchDescription(item)"
      (click)="formTecnologies.reset(item); updateModal()"
      (deletebtn)="formTecnologies.reset(item); delete()"
    ></app-card>
  </ng-container>
</div>
<app-modal
  [actionType]="actionType"
  [isOpen]="modalOpen"
  (close)="closeModal()"
  (save)="saveModal()"
>
  <form
    [formGroup]="formTecnologies"
    style="display: flex; flex-direction: column"
  >
    <app-input [control]="formTecnologies.controls.title"></app-input>
    <app-input [control]="formTecnologies.controls.description"></app-input>
    <app-input-select
      [optionList]="statusOptions"
      [valueLabel]="'description'"
      [valueCode]="'id'"
      [control]="formTecnologies.controls.status"
    ></app-input-select>
  </form>
</app-modal>
<div
  style="
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
  "
>
  <app-button
    [badge]="true"
    [label]="'share'"
    (clickBtn)="share()"
    [badgeNumber]="selectedItemsCount$ | async"
  ></app-button>
  <app-button [label]="'+'" (clickBtn)="add()"></app-button>
</div>
