@import "./styles//themes/colors-var.scss";
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-bg) var(--secondary-bg);
}
html,
body {
  margin: 0;
  display: flex;
  height: 100%;
  width: 100%;
  //scroll-behavior: smooth !important;
}
